/*
 * Colors:
 *
 * original dark blue: #133C65 (rap)
 * [unused] original light blue: #2270B8 (leaf)
 * [unused] 4x lightened light blue: #61c1e8
 * 8x lightened light blue: #8cdbf3
 * dark green:
 * light green:
 */


/* General styling */
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Arial, Helvetica, sans-serif;\
}

a {
  color: #006482;
  text-decoration: underline;
}

a:hover, a:active {
}

th {
  text-align: center;
}

/* Content */
#content {
  padding-left: 40px;
  padding-right: 40px;
  min-width: 600px;
  max-width: 1400px;
}

/* Top navigation */
#top-nav {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: .4em;
  padding-bottom: .4em;
  width: 100%;
  background-color: #404040;
  border-width: 0 0 4px 0;
  border-style: solid;
  border-color: #8cdbf3;
}

#top-nav div {
  /* display is on the element itself */
  padding-right: 1em;
  padding-left: 1em;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #808080;
}

#top-nav a {
  color: white;
  text-decoration: none;
}

/* Items */

.currentItem {
  color: #f59d05;
}

/* Titles */
h1 {
  color: #404040;
  border-width: 0 0 4px 0;
  border-style: solid;
  border-color: #404040;
}

h2 {
  padding: 0;
  color: #404040;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #a35b07;
  width: 100%;
}


/* Page sections and other classes */

/* box-section */
.box-section {
  margin: 10px 0px;
}

.box-section-content {
  margin: 0px;
  padding: 5px;
}

/* table-blue */
table.table-blue {
  margin: 10px 0px;
  border: 1px solid #404040;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}

table.table-blue tr {
  border: 1px solid #404040;
}

table.table-blue th {
  font-weight: normal;
  padding: 4px;
  color: white;
  background-color: #404040;
}

table.table-blue td {
  font-size: .8em;
  margin: 0px;
  padding: 4px;
}

/* Markup classes */
.centered {
  text-align: center;
}

.error {
  color: #ffffff;
  background-color: #ff0000;
}

/* Progress bars */
.progress-bar {
  padding: 0;
  width: 80px;
  height: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #133C65;
  background-color: white;
}

.progress-bar-filler {
  padding: 0;
  margin: 0;
  height: 4px;
  background-color: #8cdbf3;
}

/* Hosts counts */
.host-total {
  text-align: center;
}
.host-serving {
  text-align: center;
  color: #000000;
  background-color: #00f000;
}
.host-updating {
  text-align: center;
  color: #000000;
  background-color: #8cdbf3;
}
.host-idle {
  text-align: center;
  color: #ffffff;
  background-color: #606060;
}
.host-offline {
  text-align: center;
  color: #ffffff;
  background-color: #ff0000;
}
