/*
 * Colors:
 *
 * original dark blue: #133C65 (rap)
 * [unused] original light blue: #2270B8 (leaf)
 * [unused] 4x lightened light blue: #61c1e8
 * 8x lightened light blue: #8cdbf3
 * dark green:
 * light green: 
 */


/* General styling */

body {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Arial, Helvetica, sans-serif;
}


h1 {
  color: #133C65;
}


a {
  color: #133C65;
}

a:hover, a:active {
  color: #2270B8;
}


/* Page sections and other classes */

/* box-section */
.box-section {
  margin: 10px 0px;
  border: 1px solid #133C65;
  border-radius: 5px;
  width: 700px;
}

.box-section h3 {
  margin: 0px;
  padding: 5px;
  background-color: #8cdbf3;
  color: #133C65;
}

.box-section-content {
  margin: 0px;
  padding: 5px;
}

/* table-blue */
table.table-blue {
  margin: 10px 0px;
  border: 1px solid #133C65;
  border-spacing: 0px;
  border-collapse: collapse;
  min-width: 500px;
}

table.table-blue tr {
  border: 1px solid #133C65;
}

table.table-blue th {
  padding: 4px;
  color: #133C65;
  text-align: left;
}

table.table-blue td {
  margin: 0px;
  padding: 4px;
  background-color: #8cdbf3;
}

/* Markup classes */
.centered {
  text-align: center;
}
