/* General styling */
html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0 0 50px 0;
  margin: 0;
}

body {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Arial, Helvetica, sans-serif;\
}

a {
  color: #006482;
  text-decoration: underline;
}

a:hover, a:active {
}

th {
  text-align: center;
}

/* Content */
#content {
  padding-left: 40px;
  padding-right: 40px;
  min-width: 600px;
}

/* Top navigation */
#top-nav {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: .4em;
  padding-bottom: .4em;
  width: 100%;
  background-color: #404040;
  border-width: 0 0 4px 0;
  border-style: solid;
  border-color: #8cdbf3;
}

#top-nav div {
  /* display is on the element itself */
  padding-right: 1em;
  padding-left: 1em;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #808080;
}

#top-nav a {
  color: white;
  text-decoration: none;
}

/* Items */

.currentItem {
  color: #f59d05;
}

/* Titles */
h1 {
  color: #404040;
  border-width: 0 0 4px 0;
  border-style: solid;
  border-color: #404040;
}

h2 {
  padding: 0;
  color: #404040;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #a35b07;
  width: 100%;
}

/* table-blue */
table.table-blue {
  width: 100%;
}

table.table-blue,
table.table-blue-compact {
  margin: 10px 0px;
  border: 1px solid #404040;
  border-spacing: 0px;
  border-collapse: collapse;
}

table.table-blue tr,
 table.table-blue-compact tr {
  border: 1px solid #404040;
}

table.table-blue th,
 table.table-blue-compact th {
  font-size: .9em;
  font-weight: normal;
  padding: 4px;
  color: white;
  background-color: #404040;
}

table.table-blue td,
 table.table-blue-compact td {
  font-size: .8em;
  margin: 0px;
  padding: 4px;
}

/* Markup classes */
.centered {
  text-align: center;
}

.error {
  color: #ffffff;
  background-color: #cc0404;
}

.complete {
  color: #000000;
  background-color: #69db69;
}

.inactive {
  color: #ffffff;
  background-color: #606060;
}

/* Progress bars */
.progress-bar {
  padding: 0;
  margin: .2em 0;
  width: 100px;
  height: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #133C65;
}

.progress-bar-filler {
  padding: 0;
  margin: 0;
  height: 4px;
  background-color: #8cdbf3;
}

.progress-bar-filler-used {
  padding: 0;
  margin: 0;
  height: 4px;
  background-color: #cc0404;
}

/* Hosts counts */
.host-total {
  text-align: center;
}
.host-serving {
  text-align: center;
  color: #000000;
  background-color: #69db69;
}
.host-serving-incomplete {
  text-align: center;
  color: #000000;
  background-color: #69db69;
}
.host-updating {
  text-align: center;
  color: #000000;
  background-color: #8cdbf3;
}
.host-idle {
  text-align: center;
  color: #ffffff;
  background-color: #606060;
}
.host-offline {
  text-align: center;
  color: #ffffff;
  background-color: #cc0404;
}

/* Partitions */
.partition_unassigned {
  background-color: #d0d0d0;
}
.partition_undeployed {
  background-color: #cc0404;
}
.partition_updated {
  background-color: #69db69;
}
.partition_updating {
  background-color: #8cdbf3;
}
.partition_deletable {
  background-color: #f5a700;
}
.defunct-version {
  color: #bbbbbb;
}

/* Domain Group Info */

.domain-group-info {
  width: 100%;
}

.domain-group-info td,
.domain-group-info th {
  padding-left: .5em;
  padding-right: .5em;
  text-align: center;
}

/* Tooltip */
#tt {
  position: absolute;
  display: block;
  opacity: 0;
  filter: 'alpha(opacity=0)';
}

#tttop {
  margin: 0;
  padding: .5em 1em .5em 1em;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #808080;
  font-size: .8em;
}

#ttcont {
  font-size: .75em;
  padding: 1em;
}

#ttcont,
#tttop {
  display: block;
  background: #404040;
  color: white;
}

#ttbot {
  display: block;
}

.tooltipBar {
  display: block;
  height: 1em;
  background: #8cdbf3;
  margin-left: 10px;
  margin-right: 10px;
}
